collaborize.localhost {
    handle_path /_sync* {
#        reverse_proxy tldraw:5858
        reverse_proxy host.docker.internal:5858
    }
    handle_path /_upload* {
        reverse_proxy minio:9000 {
#            header_up Host {upstream_hostport}
            header_up Host localhost:9000
        }
#        reverse_proxy host.docker.internal:9000
    }
    handle {
#        reverse_proxy app:3000
        reverse_proxy host.docker.internal:3000
    }
}