collaborize.localhost {
    reverse_proxy app:3000 host.docker.internal:3000 {
        lb_policy first
        lb_try_duration 1s
        fail_duration 30s
        transport http {
            dial_timeout 500ms
        }
    }
}