@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 6% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;
    --muted: 240 6% 90%;
    --muted-foreground: 240 4% 46%;
    --border: 240 5% 84%;
    --accent: 240 6% 90%;
    --accent-foreground: 240 6% 10%;
    --primary: 295 72% 40%;
    --primary-foreground: 289 100% 98%;
    --secondary: 240 5% 26%;
    --secondary-foreground: 0 0% 98%;
    --input: 240 4% 46%;
    --destructive: 345 83% 41%;
    --destructive-foreground: 356 100% 97%;
    --warning: 26 90% 37%;
    --warning-foreground: 48 100% 96%;
    --success: 175 77% 26%;
    --success-foreground: 166 76% 97%;
    --ring: 292 84% 61%;
    --radius: 0.35rem;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 100%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 100%;
    --card: 240 6% 10%;
    --card-foreground: 0 0% 100%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 4% 46%;
    --border: 240 5% 26%;
    --accent: 240 4% 16%;
    --accent-foreground: 0 0% 100%;
    --primary: 295 72% 40%;
    --primary-foreground: 289 100% 98%;
    --secondary: 240 5% 26%;
    --secondary-foreground: 0 0% 98%;
    --input: 240 4% 46%;
    --destructive: 345 83% 41%;
    --destructive-foreground: 356 100% 97%;
    --warning: 26 90% 37%;
    --warning-foreground: 48 100% 96%;
    --success: 175 77% 26%;
    --success-foreground: 166 76% 97%;
    --ring: 292 84% 61%;
    --radius: 0.35rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
